////////////////////////////////
// Lathrop's resume additions //
///////////////////////////////




.resume h5 em {
  font-style: normal;
  float: right;
}

.resume h3 {
    margin: 0rem;
}

.resume h5, .resume h4, .resume h5, .resume h6 {
    margin: 0rem;
}
