////////////////////////////////
// Lathrop's resume additions //
///////////////////////////////






.resume h3 {
    margin: 0rem;
}

.resume h5, .resume h4, .resume h5, .resume h6 {
    margin: 0rem;
}

.resume em {
font-style: normal;
  float: right;
}


@media (max-width: 47.9em) {
    div.sidebar h1 {
         font-size: 3rem;
    }
    
    p.lead {
        font-size: 1 rem;
    }
    
    div.sidebar {
        padding: 0.1rem 1rem;
    }
    
    .sidebar a.sidebar-nav-item {
        float: left;
    }
    
}
